@model MathaCapital.Models.BidBatchViewModel
@{
    ViewData["Title"] = "Win Results";
}

<h2>Win Results</h2>
<div class="container">

    <div class="form-group">
        <form asp-controller="WinResults" asp-action="Index" class="form-inline">
            <label for="batch" class="form-inline">Batch Reference:</label>
            <select class="form-control" asp-for="bidBatch" asp-items="Model.batches">
                <option value="">All</option>
            </select>
            &nbsp;
            <label class="form-inline">  Bank Name:</label>
            <select class="form-control" asp-for="bankName" asp-items="Model.banks">
                <option value="">All</option>
            </select>
            &nbsp;
            <label class="form-inline">  Date</label>
            <input type="date" name="fwdDate" max="3000-12-31"
                   min="2010-01-01" class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>&nbsp;
            <button type="submit" asp-action="ExportWinData" class="btn btn-default" >Export to Excel</button>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-lg-2">
                @Html.DisplayNameFor(model => model.wins[0].FwdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].FwdRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].AmountBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].CouponAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].WinAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].BatchRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins[0].AuctionBidID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.wins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FwdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FwdRate)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.AmountBid)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.CouponAmount)
                </td>
                <td class="text-right text">
                    <strong>
                        @Html.DisplayFor(modelItem => item.WinAmount)
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchRef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionBidID)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
